@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    overflow: hidden;
    user-select: none;
}

#canvas-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
}

.crosshair {
    height: 10px;
    width: 10px;
    background-color: black;
    border-radius: 50%;
    border: solid 1px rgb(172, 172, 172);
    margin: auto;
    z-index: 100;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.error {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    font-size: 18px;
    text-align: center;
}

h3, h4, h5, h6 {
    font-family: 'Beon';
}