@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    overflow: hidden;
    user-select: none;
}

#canvas-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
}

.crosshair {
    z-index: 100;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: black;
}

.error {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    font-size: 18px;
    text-align: center;
}

h3,
h4,
h5,
h6 {
    font-family: 'Beon';
}

.hide-background {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(35, 8, 36, 0.5);
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
