.loader {
    color: white;
    left: 50%;
    top: 50%;
    width: 100vw;
    height: 100vh;
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: rgb(48, 8, 43);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    z-index: 105;

    .container {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

        .bar {
            width: 300px;
            height: 15px;
            background-color: rgb(68, 12, 61);
            border-radius: 5px;
            position: relative;
            overflow: hidden;
            margin-bottom: 20px;

            .progress {
                height: 100%;
                background-color: rgb(172, 30, 153);
                position: absolute;
                top: 0;
                left: 0;
            }
        }
        p {
            color: white;
            font-size: 18px;
        }
    }

    .loader-text {
        color: white;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
    }
    img {
        width: 15%;
    }
}
