.playerList {
    z-index: 100001;
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .playerlistContent {
        width: 20%;
        height: 70%;
        backdrop-filter: blur(3px);
        box-shadow: 00 0 0.2rem #fff, 0 0 2rem rgba(255, 0, 128, 0.508), 0 0 0.8rem rgba(255, 0, 128, 0.508),
            inset 0 0 1.3rem rgba(255, 0, 128, 0.508);
        border-color: #ff0080d2;
        border: 1px solid #5f5f5f;
        background-color: rgba(67, 13, 69, 0.6);
        border-radius: 10px;
        position: absolute;
        top: 0;
        right: 0;
        margin: 20px;
        padding-top: 10px;
        overflow: hidden;

        h3 {
            color: white;
            font-family: 'Roboto';
            text-align: center;
            margin: 10px;
        }

        .player {
            width: 25%;
            height: 75px;
            font-size: 20px;
            display: flex;
            align-items: center;
            padding: 1em 0;
            color: white;
            margin-left: 10px;
        }
    }
}
