
.background-side-bar{
    background-color: rgba($color: #FFFFFF, $alpha: 0.1);
    height: fit-content;
}

.content-profile{
    background-image: url('../assets/background_accueil.png');
    background-size: cover ;
    background-repeat: no-repeat;
    font-family: "koho-light";
    hr{
        width: 25%;
        color: #00DDDD;
        height: 3px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        border: 1px solid rgba($color: #FFFFFF, $alpha: 0.5);
        opacity: 1;
        outline: 1px solid rgba($color: #00DDDD, $alpha: 0.9);
    }
}

.main-div-side-bar{
    button{
        border: none;
        background-color: transparent;
        padding: 1rem;
        font-size: 1.5rem;
        color: white;
        cursor: pointer;
    }
    .show{
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px rgb(238, 0, 255),
        0 0 80px rgb(238, 0, 255),
        0 0 90px rgb(238, 0, 255),
        0 0 100px rgb(238, 0, 255),
        0 0 150px rgb(238, 0, 255);
    }
    .hidden{
        color:white;
    }
}

.main-div-content-profile{
    height: 100vh;
    background-color: rgba($color: #FFFFFF, $alpha: 0.1);
}

.neonTextMenu {
    color: #00DDDD;
    font-size: 2.5rem;
    font-weight: lighter; 
}

.picture-profile-div{
    border: 2px solid rgba($color: #FFFFFF, $alpha: 0.9);
    outline: 2px solid rgba($color: #00DDDD, $alpha: 0.9);
    box-shadow: 0px 0px 48px 1px #00DDDD;
    border-radius: 50%;
}

.div-statistics{
    border: 2px solid rgba($color: #FFFFFF, $alpha: 0.9);
    outline: 2px solid rgba($color: #00DDDD, $alpha: 0.9);
    box-shadow: 0px 0px 48px 1px #00DDDD;
    background-color: rgba($color: #FFFFFF, $alpha: 0.1);
}