@font-face {
    font-family: "koho-bold";
    src: url("../assets/fonts/KoHo-Bold.woff2") format("woff2"),
      url("../assets/fonts/KoHo-Bold.woff") format("woff");
  }

  @font-face {
    font-family: "koho-regular";
    src: url("../assets/fonts/KoHo-Regular.woff2") format("woff2"),
      url("../assets/fonts/KoHo-Regular.woff") format("woff");
  }

  @font-face {
    font-family: "koho-light";
    src: url("../assets/fonts/KoHo-Light.woff2") format("woff2"),
      url("../assets/fonts/KoHo-Light.woff") format("woff");
  }

  @font-face {
    font-family: "koho-medium";
    src: url("../assets/fonts/KoHo-Medium.woff2") format("woff2"),
      url("../assets/fonts/KoHo-Medium.woff") format("woff");
  }